@keyframes blink-warning {
    70% {
	color: @light;
    }

    to {
	color: @light;
	background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
	color: @light;
    }

    to {
	color: @light;
	background-color: @critical;
    }
}

/* COLORS */
@define-color light #332E41;
@define-color warning #FABD2F;
@define-color critical #CC241D;
@define-color workspaces @light;
@define-color workspacesfocused @light;
@define-color workspacesbutton #DADAE8;
@define-color workspacesfocusedbg #EBDDAA;

* {
    border: none;
    border-radius: 0;
    min-height: 0;
    margin: 0;
    padding: 0;
}

/* COLORS FOR MODULES */

#pulseaudio, #clock, #battery, #network, #custom-spotify, #workspaces {
    background: @light;
}

/* OTHER CSS RELATED THINGS */

#mode { /* Shown current Sway mode (resize etc.) */
    color: @light;
    background: @mode;
}

#workspaces {
    margin: 5px 0 5px 5px;
    padding: 2px 10px;
    border-radius: 15px;
}

#workspaces button {
    padding: 5px 5px;
    min-width: 10px;
    color: @workspacesbutton;
    background: @workspaces;
}

#workspaces button.focused {
    color: @workspacesfocused;
    background: @workspacesfocusedbg;
    border-radius: 15px;
}

#window {
    margin: 0 3rem;
    background: @workspaces;
}

#pulseaudio {
    margin: 5px 0;
    padding: 2px 10px;
}

#network {
    margin: 5px 0;
    padding: 0 15px 0 2px;
    border-radius: 15px 0 0 15px;
}

#battery {
    margin: 5px 0;
    padding: 0 15px 0 2px;
}

#clock {
    margin: 5px 5px 5px 0;
    padding: 0 15px 0 2px;
    border-radius: 0 15px 15px 0;
}

#custom-spotify {
    margin: 5px 0;
    padding: 0 15px;
    border-radius: 15px;
}

#waybar {
    font-family: Terminus, Siji;
    font-family: Ubuntu, "Font Awesome 5 Free";
    font-size: 12pt;
	/*font-weight: bold;*/
}

#battery,
#backlight,
#clock,
#cpu,
#disk,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#quit,
#tray {
    padding-left: 10px;
    padding-right: 10px;
}

/* Each module that should blink */
#mode,
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

